@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: var(--font-peugeot), sans-serif;
  }

  span {
    font-family: var(--font-peugeot), sans-serif !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Peugeot', sans-serif;
}
span {
  font-weight: bold;
  font-family: 'Peugeot', sans-serif !important;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Peugeot', sans-serif;
}

@font-face {
  font-family: 'Peugeot';
  src: url('/PeugeotNew-Regular.otf');

  font-weight: normal;
  font-style: normal;
}


.custom-content img {
  display: none !important;
}
